BASE_URL=
APP_DEBUG=true
MAX_USERS=
APP_URL=https://localhost

DB_CONNECTION=mysql
DB_DRIVER=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

IMAGES_PATH=https://cp.pf54.ru/images
IMAGES_URL=images

PATH_URL=https://cp.pf54.ru